
Figuren/Zwevend/Zink_meanvalues.tex
Figuren/Zwevend/Zink.png
Figuren/Zwevend/Vanadium_meanvalues.tex
Figuren/Zwevend/Vanadium.png
Figuren/Zwevend/Tributyltin_meanvalues.tex
Figuren/Zwevend/Tributyltin.png
Figuren/Zwevend/PCB52_meanvalues.tex
Figuren/Zwevend/PCB52.png
Figuren/Zwevend/PCB28_meanvalues.tex
Figuren/Zwevend/PCB28.png
Figuren/Zwevend/PCB180_meanvalues.tex
Figuren/Zwevend/PCB180.png
Figuren/Zwevend/PCB153_meanvalues.tex
Figuren/Zwevend/PCB153.png
Figuren/Zwevend/PCB138_meanvalues.tex
Figuren/Zwevend/PCB138.png
Figuren/Zwevend/PCB118_meanvalues.tex
Figuren/Zwevend/PCB118.png
Figuren/Zwevend/PCB101_meanvalues.tex
Figuren/Zwevend/PCB101.png
Figuren/Zwevend/Naftaleen_meanvalues.tex
Figuren/Zwevend/Naftaleen.png
Figuren/Zwevend/Lood_meanvalues.tex
Figuren/Zwevend/Lood.png
Figuren/Zwevend/Kwik_meanvalues.tex
Figuren/Zwevend/Kwik.png
Figuren/Zwevend/Korrelgroottefractietot63um_meanvalues.tex
Figuren/Zwevend/Korrelgroottefractietot63um.png
Figuren/Zwevend/Korrelgroottefractietot2um_meanvalues.tex
Figuren/Zwevend/Korrelgroottefractietot2um.png
Figuren/Zwevend/Koper_meanvalues.tex
Figuren/Zwevend/Koper.png
Figuren/Zwevend/Kobalt_meanvalues.tex
Figuren/Zwevend/Kobalt.png
Figuren/Zwevend/Indeno_meanvalues.tex
Figuren/Zwevend/Indeno.png
Figuren/Zwevend/Hexachloorbenzeen_meanvalues.tex
Figuren/Zwevend/Hexachloorbenzeen.png
Figuren/Zwevend/Fluorantheen_meanvalues.tex
Figuren/Zwevend/Fluorantheen.png
Figuren/Zwevend/Fenanthreen_meanvalues.tex
Figuren/Zwevend/Fenanthreen.png
Figuren/Zwevend/Dieldrin_meanvalues.tex
Figuren/Zwevend/Dieldrin.png
Figuren/Zwevend/Chryseen_meanvalues.tex
Figuren/Zwevend/Chryseen.png
Figuren/Zwevend/Chroom_meanvalues.tex
Figuren/Zwevend/Chroom.png
Figuren/Zwevend/Cadmium_meanvalues.tex
Figuren/Zwevend/Cadmium.png
Figuren/Zwevend/Benzoperyleen_meanvalues.tex
Figuren/Zwevend/Benzoperyleen.png
Figuren/Zwevend/Benzokfluorantheen_meanvalues.tex
Figuren/Zwevend/Benzokfluorantheen.png
Figuren/Zwevend/Benzoapyreen_meanvalues.tex
Figuren/Zwevend/Benzoapyreen.png
Figuren/Zwevend/Benzoaantraceen_meanvalues.tex
Figuren/Zwevend/Benzoaantraceen.png
Figuren/Zwevend/backup/Zink_meanvalues.tex
Figuren/Zwevend/backup/Zink.png
Figuren/Zwevend/backup/Vanadium_meanvalues.tex
Figuren/Zwevend/backup/Vanadium.png
Figuren/Zwevend/backup/Tributyltin_meanvalues.tex
Figuren/Zwevend/backup/Tributyltin.png
Figuren/Zwevend/backup/PCB52_meanvalues.tex
Figuren/Zwevend/backup/PCB52.png
Figuren/Zwevend/backup/PCB28_meanvalues.tex
Figuren/Zwevend/backup/PCB28.png
Figuren/Zwevend/backup/PCB180_meanvalues.tex
Figuren/Zwevend/backup/PCB180.png
Figuren/Zwevend/backup/PCB153_meanvalues.tex
Figuren/Zwevend/backup/PCB153.png
Figuren/Zwevend/backup/PCB138_meanvalues.tex
Figuren/Zwevend/backup/PCB138.png
Figuren/Zwevend/backup/PCB118_meanvalues.tex
Figuren/Zwevend/backup/PCB118.png
Figuren/Zwevend/backup/PCB101_meanvalues.tex
Figuren/Zwevend/backup/PCB101.png
Figuren/Zwevend/backup/Naftaleen_meanvalues.tex
Figuren/Zwevend/backup/Naftaleen.png
Figuren/Zwevend/backup/Lood_meanvalues.tex
Figuren/Zwevend/backup/Lood.png
Figuren/Zwevend/backup/Kwik_meanvalues.tex
Figuren/Zwevend/backup/Kwik.png
Figuren/Zwevend/backup/Korrelgroottefractietot63um_meanvalues.tex
Figuren/Zwevend/backup/Korrelgroottefractietot63um.png
Figuren/Zwevend/backup/Korrelgroottefractietot2um_meanvalues.tex
Figuren/Zwevend/backup/Korrelgroottefractietot2um.png
Figuren/Zwevend/backup/Koper_meanvalues.tex
Figuren/Zwevend/backup/Koper.png
Figuren/Zwevend/backup/Kobalt_meanvalues.tex
Figuren/Zwevend/backup/Kobalt.png
Figuren/Zwevend/backup/Indeno_meanvalues.tex
Figuren/Zwevend/backup/Indeno.png
Figuren/Zwevend/backup/Hexachloorbenzeen_meanvalues.tex
Figuren/Zwevend/backup/Hexachloorbenzeen.png
Figuren/Zwevend/backup/Fluorantheen_meanvalues.tex
Figuren/Zwevend/backup/Fluorantheen.png
Figuren/Zwevend/backup/Fenanthreen_meanvalues.tex
Figuren/Zwevend/backup/Fenanthreen.png
Figuren/Zwevend/backup/Dieldrin_meanvalues.tex
Figuren/Zwevend/backup/Dieldrin.png
Figuren/Zwevend/backup/Chryseen_meanvalues.tex
Figuren/Zwevend/backup/Chryseen.png
Figuren/Zwevend/backup/Chroom_meanvalues.tex
Figuren/Zwevend/backup/Chroom.png
Figuren/Zwevend/backup/Cadmium_meanvalues.tex
Figuren/Zwevend/backup/Cadmium.png
Figuren/Zwevend/backup/Benzoperyleen_meanvalues.tex
Figuren/Zwevend/backup/Benzoperyleen.png
Figuren/Zwevend/backup/Benzokfluorantheen_meanvalues.tex
Figuren/Zwevend/backup/Benzokfluorantheen.png
Figuren/Zwevend/backup/Benzoapyreen_meanvalues.tex
Figuren/Zwevend/backup/Benzoapyreen.png
Figuren/Zwevend/backup/Benzoaantraceen_meanvalues.tex
Figuren/Zwevend/backup/Benzoaantraceen.png
Figuren/Zwevend/backup/Arseen_meanvalues.tex
Figuren/Zwevend/backup/Arseen.png
Figuren/Zwevend/backup/Antraceen_meanvalues.tex
Figuren/Zwevend/backup/Antraceen.png
Figuren/Zwevend/Arseen_meanvalues.tex
Figuren/Zwevend/Arseen.png
Figuren/Zwevend/Antraceen_meanvalues.tex
Figuren/Zwevend/Antraceen.png
Figuren/Zwevend/_Tributyltin_meanvalues.tex
Figuren/Zwevend/_Tributyltin.png
Figuren/Tabellen/zwevend.png
Figuren/Tabellen/water.png
Figuren/Tabellen/parameter_tabellen.pdf
Figuren/Tabellen/parameter_tabellen.docx
Figuren/Tabellen/hydro_old.png
Figuren/Tabellen/hydro.PNG
Figuren/Tabellen/fytoplankton.tex
Figuren/Tabellen/fyto.png
Figuren/Tabellen/bodem.PNG
Figuren/Tabellen/bodem.pdf
Figuren/Tabellen/bodem.docx
Figuren/Tabellen/biota.png
Figuren/missingdata.tex
Figuren/Meetstations_zwevend.png
Figuren/Meetstations_waterstanden.png
Figuren/Meetstations_golfboei.png
Figuren/Meetstations_fyto.png
Figuren/Meetstations_fysisch_water.png
Figuren/Meetstations_continu.png
Figuren/Meetstations_bodem.png
Figuren/Meetstations_biota.png
Figuren/Meetdichtheid/wiel_bodem.tex
Figuren/Meetdichtheid/walch_bodem.tex
Figuren/Meetdichtheid/w2_opp.tex
Figuren/Meetdichtheid/w20_opp.tex
Figuren/Meetdichtheid/vlis_zwevend.tex
Figuren/Meetdichtheid/vlis_opp.tex
Figuren/Meetdichtheid/vlis_bodem.tex
Figuren/Meetdichtheid/tern_opp.tex
Figuren/Meetdichtheid/tern_bodem.tex
Figuren/Meetdichtheid/speel_bodem.tex
Figuren/Meetdichtheid/schaar_zwevend.tex
Figuren/Meetdichtheid/schaar_opp.tex
Figuren/Meetdichtheid/schaar_bodem.tex
Figuren/Meetdichtheid/overige_1.tex
Figuren/Meetdichtheid/nat_1.tex
Figuren/Meetdichtheid/metaal_3a.tex
Figuren/Meetdichtheid/metaal_2b.tex
Figuren/Meetdichtheid/metaal_2a.tex
Figuren/Meetdichtheid/metaal_1b.tex
Figuren/Meetdichtheid/metaal_1a.tex
Figuren/Meetdichtheid/kruin_bodem.tex
Figuren/Meetdichtheid/hoed_bodem.tex
Figuren/Meetdichtheid/hans_opp.tex
Figuren/Meetdichtheid/hans_bodem.tex
Figuren/Meetdichtheid/droog_2.tex
Figuren/Meetdichtheid/droog_1.tex
Figuren/Meetdichtheid/bot.tex
Figuren/Meetdichtheid/bors_bodem.tex
Figuren/Meetdichtheid/bath71_bodem.tex
Figuren/Meetdichtheid/bath68_bodem.tex
Figuren/Meetdichtheid/baar_bodem.tex
Figuren/Logos/Rijkswaterstaat-logo-e1473888123824-1-300x300.jpg
Figuren/Logos/logo.png
Figuren/Inscape/spectrum.png
Figuren/Inscape/getijgolf.png
Figuren/Inscape/drawing_basic.svg
Figuren/Inscape/drawing_basic.png
Figuren/Hydro/Waterstanden/test_1Acheckdata/meanvalues_stats.tex
Figuren/Hydro/Waterstanden/test_1Acheckdata/meanvalues.tex
Figuren/Hydro/Waterstanden/test_1Acheckdata/HWLW/wkap.png
Figuren/Hydro/Waterstanden/test_1Acheckdata/HWLW/wals.png
Figuren/Hydro/Waterstanden/test_1Acheckdata/HWLW/vlis.png
Figuren/Hydro/Waterstanden/test_1Acheckdata/HWLW/tern.png
Figuren/Hydro/Waterstanden/test_1Acheckdata/HWLW/svdn.png
Figuren/Hydro/Waterstanden/test_1Acheckdata/HWLW/raan.png
Figuren/Hydro/Waterstanden/test_1Acheckdata/HWLW/ovlh.png
Figuren/Hydro/Waterstanden/test_1Acheckdata/HWLW/hans.png
Figuren/Hydro/Waterstanden/test_1Acheckdata/HWLW/euro.png
Figuren/Hydro/Waterstanden/test_1Acheckdata/HWLW/cadz.png
Figuren/Hydro/Waterstanden/test_1Acheckdata/HWLW/bres.png
Figuren/Hydro/Waterstanden/test_1Acheckdata/HWLW/bors.png
Figuren/Hydro/Waterstanden/test_1Acheckdata/HWLW/bath.png
Figuren/Hydro/Waterstanden/test_1Acheckdata/HWLW/baal.png
Figuren/Hydro/Waterstanden/test_1Acheckdata/Getijslag.png
Figuren/Hydro/Waterstanden/test_1Acheckdata/gemiddelde_getijslag.png
Figuren/Hydro/Waterstanden/test_1Acheckdata/gemiddeld_LW.png
Figuren/Hydro/Waterstanden/test_1Acheckdata/gemiddeld_HW.png
Figuren/Hydro/Waterstanden/meanvalues_stats.tex
Figuren/Hydro/Waterstanden/meanvalues.tex
Figuren/Hydro/Waterstanden/HWLW_backup/wkap.png
Figuren/Hydro/Waterstanden/HWLW_backup/wals.png
Figuren/Hydro/Waterstanden/HWLW_backup/vlis.png
Figuren/Hydro/Waterstanden/HWLW_backup/tern.png
Figuren/Hydro/Waterstanden/HWLW_backup/svdn.png
Figuren/Hydro/Waterstanden/HWLW_backup/raan.png
Figuren/Hydro/Waterstanden/HWLW_backup/ovlh.png
Figuren/Hydro/Waterstanden/HWLW_backup/hans.png
Figuren/Hydro/Waterstanden/HWLW_backup/euro.png
Figuren/Hydro/Waterstanden/HWLW_backup/cadz.png
Figuren/Hydro/Waterstanden/HWLW_backup/bres.png
Figuren/Hydro/Waterstanden/HWLW_backup/bors.png
Figuren/Hydro/Waterstanden/HWLW_backup/bath.png
Figuren/Hydro/Waterstanden/HWLW_backup/baal.png
Figuren/Hydro/Waterstanden/HWLW/wkap.png
Figuren/Hydro/Waterstanden/HWLW/wals.png
Figuren/Hydro/Waterstanden/HWLW/vlis.png
Figuren/Hydro/Waterstanden/HWLW/tern.png
Figuren/Hydro/Waterstanden/HWLW/svdn.png
Figuren/Hydro/Waterstanden/HWLW/raan.png
Figuren/Hydro/Waterstanden/HWLW/ovlh.png
Figuren/Hydro/Waterstanden/HWLW/hans.png
Figuren/Hydro/Waterstanden/HWLW/euro.png
Figuren/Hydro/Waterstanden/HWLW/cadz.png
Figuren/Hydro/Waterstanden/HWLW/bres.png
Figuren/Hydro/Waterstanden/HWLW/bors.png
Figuren/Hydro/Waterstanden/HWLW/bath.png
Figuren/Hydro/Waterstanden/HWLW/baal.png
Figuren/Hydro/Waterstanden/Harmonisch/S2_fase.png
Figuren/Hydro/Waterstanden/Harmonisch/S2_amplitude.png
Figuren/Hydro/Waterstanden/Harmonisch/meanvalues.tex
Figuren/Hydro/Waterstanden/Harmonisch/M4_fase.png
Figuren/Hydro/Waterstanden/Harmonisch/M4_amplitude.png
Figuren/Hydro/Waterstanden/Harmonisch/M2_fase.png
Figuren/Hydro/Waterstanden/Harmonisch/M2_amplitude.png
Figuren/Hydro/Waterstanden/Getijslag.png
Figuren/Hydro/Waterstanden/gemiddelde_getijslag.png
Figuren/Hydro/Waterstanden/gemiddeld_LW.png
Figuren/Hydro/Waterstanden/gemiddeld_HW.png
Figuren/Hydro/Golven/test/T_Wiel.png
Figuren/Hydro/Golven/test/T_PVT.png
Figuren/Hydro/Golven/test/T_OVVA.png
Figuren/Hydro/Golven/test/T_OVHW.png
Figuren/Hydro/Golven/test/T_HNTE.png
Figuren/Hydro/Golven/test/T_HFPL.png
Figuren/Hydro/Golven/test/T_HAWI.png
Figuren/Hydro/Golven/test/T_Deurloo.png
Figuren/Hydro/Golven/test/T_Cadw.png
Figuren/Hydro/Golven/test/T_BAT2.png
Figuren/Hydro/Golven/test/meanvalues_Tp.tex
Figuren/Hydro/Golven/test/meanvalues_Hs.tex
Figuren/Hydro/Golven/test/H_Wiel.png
Figuren/Hydro/Golven/test/H_PVT.png
Figuren/Hydro/Golven/test/H_OVVA.png
Figuren/Hydro/Golven/test/H_OVHW.png
Figuren/Hydro/Golven/test/H_HNTE.png
Figuren/Hydro/Golven/test/H_HFPL.png
Figuren/Hydro/Golven/test/H_HAWI.png
Figuren/Hydro/Golven/test/H_Deurloo.png
Figuren/Hydro/Golven/test/H_Cadw.png
Figuren/Hydro/Golven/test/H_BAT2.png
Figuren/Hydro/Golven/T_Wiel.png
Figuren/Hydro/Golven/T_PVT.png
Figuren/Hydro/Golven/T_OVVA.png
Figuren/Hydro/Golven/T_OVHW.png
Figuren/Hydro/Golven/T_HNTE.png
Figuren/Hydro/Golven/T_HFPL.png
Figuren/Hydro/Golven/T_HAWI.png
Figuren/Hydro/Golven/T_Deurloo.png
Figuren/Hydro/Golven/T_Cadw.png
Figuren/Hydro/Golven/T_BAT2.png
Figuren/Hydro/Golven/meanvalues_Tp.tex
Figuren/Hydro/Golven/meanvalues_Hs.tex
Figuren/Hydro/Golven/H_Wiel.png
Figuren/Hydro/Golven/H_PVT.png
Figuren/Hydro/Golven/H_OVVA.png
Figuren/Hydro/Golven/H_OVHW.png
Figuren/Hydro/Golven/H_HNTE.png
Figuren/Hydro/Golven/H_HFPL.png
Figuren/Hydro/Golven/H_HAWI.png
Figuren/Hydro/Golven/H_Deurloo.png
Figuren/Hydro/Golven/H_Cadw.png
Figuren/Hydro/Golven/H_BAT2.png
Figuren/Hydro/Golven/gemiddelde_tm02.png
Figuren/Hydro/Golven/gemiddelde_th13.png
Figuren/Hydro/Golven/gemiddelde_hm0.png
Figuren/Hydro/Golven/gemiddelde_h13.png
Figuren/Hydro/Golven/cdfplot_tm02.png
Figuren/Hydro/Golven/cdfplot_Hs.png
Figuren/Hydro/Golven/backup2019/T_Wiel.png
Figuren/Hydro/Golven/backup2019/T_PVT.png
Figuren/Hydro/Golven/backup2019/T_OVVA.png
Figuren/Hydro/Golven/backup2019/T_OVHW.png
Figuren/Hydro/Golven/backup2019/T_HNTE.png
Figuren/Hydro/Golven/backup2019/T_HFPL.png
Figuren/Hydro/Golven/backup2019/T_HAWI.png
Figuren/Hydro/Golven/backup2019/T_Deurloo.png
Figuren/Hydro/Golven/backup2019/T_Cadw.png
Figuren/Hydro/Golven/backup2019/T_BAT2.png
Figuren/Hydro/Golven/backup2019/meanvalues_Tp.tex
Figuren/Hydro/Golven/backup2019/meanvalues_Hs.tex
Figuren/Hydro/Golven/backup2019/H_Wiel.png
Figuren/Hydro/Golven/backup2019/H_PVT.png
Figuren/Hydro/Golven/backup2019/H_OVVA.png
Figuren/Hydro/Golven/backup2019/H_OVHW.png
Figuren/Hydro/Golven/backup2019/H_HNTE.png
Figuren/Hydro/Golven/backup2019/H_HFPL.png
Figuren/Hydro/Golven/backup2019/H_HAWI.png
Figuren/Hydro/Golven/backup2019/H_Deurloo.png
Figuren/Hydro/Golven/backup2019/H_Cadw.png
Figuren/Hydro/Golven/backup2019/H_BAT2.png
Figuren/Hydro/Golven/backup2019/gemiddelde_tm02.png
Figuren/Hydro/Golven/backup2019/gemiddelde_th13.png
Figuren/Hydro/Golven/backup2019/gemiddelde_hm0.png
Figuren/Hydro/Golven/backup2019/gemiddelde_h13.png
Figuren/Hydro/Golven/backup2019/cdfplot_tm02.png
Figuren/Hydro/Golven/backup2019/cdfplot_Hs.png
Figuren/Hydro/Golven/backup/T_Wiel.png
Figuren/Hydro/Golven/backup/T_PVT.png
Figuren/Hydro/Golven/backup/T_OVVA.png
Figuren/Hydro/Golven/backup/T_OVHW.png
Figuren/Hydro/Golven/backup/T_HNTE.png
Figuren/Hydro/Golven/backup/T_HFPL.png
Figuren/Hydro/Golven/backup/T_HAWI.png
Figuren/Hydro/Golven/backup/T_Deurloo.png
Figuren/Hydro/Golven/backup/T_Cadw.png
Figuren/Hydro/Golven/backup/T_BAT2.png
Figuren/Hydro/Golven/backup/meanvalues_Tp.tex
Figuren/Hydro/Golven/backup/meanvalues_Hs.tex
Figuren/Hydro/Golven/backup/H_Wiel.png
Figuren/Hydro/Golven/backup/H_PVT.png
Figuren/Hydro/Golven/backup/H_OVVA.png
Figuren/Hydro/Golven/backup/H_OVHW.png
Figuren/Hydro/Golven/backup/H_HNTE.png
Figuren/Hydro/Golven/backup/H_HFPL.png
Figuren/Hydro/Golven/backup/H_HAWI.png
Figuren/Hydro/Golven/backup/H_Deurloo.png
Figuren/Hydro/Golven/backup/H_Cadw.png
Figuren/Hydro/Golven/backup/H_BAT2.png
Figuren/Hydro/Golven/backup/gemiddelde_tm02.png
Figuren/Hydro/Golven/backup/gemiddelde_th13.png
Figuren/Hydro/Golven/backup/gemiddelde_hm0.png
Figuren/Hydro/Golven/backup/gemiddelde_h13.png
Figuren/Hydro/Golven/backup/cdfplot_tm02.png
Figuren/Hydro/Golven/backup/cdfplot_Hs.png
Figuren/Golfspectrum.png
Figuren/Getijgolf.png
Figuren/Fytoplankton/Walcheren2kmuitdekust_tijdserie.png
Figuren/Fytoplankton/Walcheren2kmuitdekust_meanvalues.tex
Figuren/Fytoplankton/Walcheren2kmuitdekust_jaar.png
Figuren/Fytoplankton/Walcheren20kmuitdekust_tijdserie.png
Figuren/Fytoplankton/Walcheren20kmuitdekust_meanvalues.tex
Figuren/Fytoplankton/Walcheren20kmuitdekust_jaar.png
Figuren/Fytoplankton/VlissingenboeiSSVH_tijdserie.png
Figuren/Fytoplankton/VlissingenboeiSSVH_meanvalues.tex
Figuren/Fytoplankton/VlissingenboeiSSVH_jaar.png
Figuren/Fytoplankton/SchaarvanOudenDoel_tijdserie.png
Figuren/Fytoplankton/SchaarvanOudenDoel_meanvalues.tex
Figuren/Fytoplankton/SchaarvanOudenDoel_jaar.png
Figuren/Fytoplankton/Hansweertgeul_tijdserie.png
Figuren/Fytoplankton/Hansweertgeul_meanvalues.tex
Figuren/Fytoplankton/Hansweertgeul_jaar.png
Figuren/Fytoplankton/9_jaar.png
Figuren/Fytoplankton/8_jaar.png
Figuren/Fytoplankton/7_jaar.png
Figuren/Fytoplankton/6_jaar.png
Figuren/Fytoplankton/5_jaar.png
Figuren/Fytoplankton/4_jaar.png
Figuren/Fytoplankton/3_jaar.png
Figuren/Fytoplankton/2_jaar.png
Figuren/Fytoplankton/1_jaar.png
Figuren/Fytoplankton/10_jaar.png
Figuren/Fysisch/Zwevende_stof/Zomer_winter.png
Figuren/Fysisch/Zwevende_stof/meanvalues.tex
Figuren/Fysisch/Zwevende_stof/Maand.png
Figuren/Fysisch/Zwevende_stof/Jaar.png
Figuren/Fysisch/Zwevende_stof/gemiddelde_waardes.png
Figuren/Fysisch/Zuurstof_percentage/Zomer_winter.png
Figuren/Fysisch/Zuurstof_percentage/meanvalues.tex
Figuren/Fysisch/Zuurstof_percentage/Maand.png
Figuren/Fysisch/Zuurstof_percentage/Jaar.png
Figuren/Fysisch/Zuurstof_percentage/gemiddelde_waardes.png
Figuren/Fysisch/Zuurstof_mg/Zomer_winter.png
Figuren/Fysisch/Zuurstof_mg/meanvalues.tex
Figuren/Fysisch/Zuurstof_mg/Maand.png
Figuren/Fysisch/Zuurstof_mg/Jaar.png
Figuren/Fysisch/Zuurstof_mg/gemiddelde_waardes.png
Figuren/Fysisch/Temperatuur/Zomer_winter.png
Figuren/Fysisch/Temperatuur/meanvalues.tex
Figuren/Fysisch/Temperatuur/Maand.png
Figuren/Fysisch/Temperatuur/Jaar.png
Figuren/Fysisch/Temperatuur/gemiddelde_waardes.png
Figuren/Fysisch/Stikstof_par/Zomer_winter.png
Figuren/Fysisch/Stikstof_par/meanvalues.tex
Figuren/Fysisch/Stikstof_par/Maand.png
Figuren/Fysisch/Stikstof_par/Jaar.png
Figuren/Fysisch/Stikstof_par/gemiddelde_waardes.png
Figuren/Fysisch/Stikstof_fil/Zomer_winter.png
Figuren/Fysisch/Stikstof_fil/meanvalues.tex
Figuren/Fysisch/Stikstof_fil/Maand.png
Figuren/Fysisch/Stikstof_fil/Jaar.png
Figuren/Fysisch/Stikstof_fil/gemiddelde_waardes.png
Figuren/Fysisch/Silicaat/Zomer_winter.png
Figuren/Fysisch/Silicaat/meanvalues.tex
Figuren/Fysisch/Silicaat/Maand.png
Figuren/Fysisch/Silicaat/Jaar.png
Figuren/Fysisch/Silicaat/gemiddelde_waardes.png
Figuren/Fysisch/Saliniteit/Zomer_winter.png
Figuren/Fysisch/Saliniteit/meanvalues.tex
Figuren/Fysisch/Saliniteit/Maand.png
Figuren/Fysisch/Saliniteit/Jaar.png
Figuren/Fysisch/Saliniteit/gemiddelde_waardes.png
Figuren/Fysisch/Orthofosfaat/Zomer_winter.png
Figuren/Fysisch/Orthofosfaat/meanvalues.tex
Figuren/Fysisch/Orthofosfaat/Maand.png
Figuren/Fysisch/Orthofosfaat/Jaar.png
Figuren/Fysisch/Orthofosfaat/gemiddelde_waardes.png
Figuren/Fysisch/Nitriet/Zomer_winter.png
Figuren/Fysisch/Nitriet/meanvalues.tex
Figuren/Fysisch/Nitriet/Maand.png
Figuren/Fysisch/Nitriet/Jaar.png
Figuren/Fysisch/Nitriet/gemiddelde_waardes.png
Figuren/Fysisch/Nitraat/Zomer_winter.png
Figuren/Fysisch/Nitraat/meanvalues.tex
Figuren/Fysisch/Nitraat/Maand.png
Figuren/Fysisch/Nitraat/Jaar.png
Figuren/Fysisch/Nitraat/gemiddelde_waardes.png
Figuren/Fysisch/Metalen/Zink_totaal_meanvalues.tex
Figuren/Fysisch/Metalen/Zink_totaal_Jaar.png
Figuren/Fysisch/Metalen/Zink_totaal_gemiddelde_waardes.png
Figuren/Fysisch/Metalen/Zink_fil_meanvalues.tex
Figuren/Fysisch/Metalen/Zink_fil_Jaar.png
Figuren/Fysisch/Metalen/Zink_fil_gemiddelde_waardes.png
Figuren/Fysisch/Metalen/Vanadium_totaal_meanvalues.tex
Figuren/Fysisch/Metalen/Vanadium_totaal_Jaar.png
Figuren/Fysisch/Metalen/Vanadium_totaal_gemiddelde_waardes.png
Figuren/Fysisch/Metalen/Vanadium_fil_meanvalues.tex
Figuren/Fysisch/Metalen/Vanadium_fil_Jaar.png
Figuren/Fysisch/Metalen/Vanadium_fil_gemiddelde_waardes.png
Figuren/Fysisch/Metalen/Uranium_totaal_meanvalues.tex
Figuren/Fysisch/Metalen/Uranium_totaal_Jaar.png
Figuren/Fysisch/Metalen/Uranium_totaal_gemiddelde_waardes.png
Figuren/Fysisch/Metalen/Uranium_fil_meanvalues.tex
Figuren/Fysisch/Metalen/Uranium_fil_Jaar.png
Figuren/Fysisch/Metalen/Uranium_fil_gemiddelde_waardes.png
Figuren/Fysisch/Metalen/Koper_totaal_meanvalues.tex
Figuren/Fysisch/Metalen/Koper_totaal_Jaar.png
Figuren/Fysisch/Metalen/Koper_totaal_gemiddelde_waardes.png
Figuren/Fysisch/Metalen/Koper_fil_meanvalues.tex
Figuren/Fysisch/Metalen/Koper_fil_Jaar.png
Figuren/Fysisch/Metalen/Koper_fil_gemiddelde_waardes.png
Figuren/Fysisch/Metalen/Chroom_totaal_meanvalues.tex
Figuren/Fysisch/Metalen/Chroom_totaal_Jaar.png
Figuren/Fysisch/Metalen/Chroom_totaal_gemiddelde_waardes.png
Figuren/Fysisch/Metalen/Chroom_fil_meanvalues.tex
Figuren/Fysisch/Metalen/Chroom_fil_Jaar.png
Figuren/Fysisch/Metalen/Chroom_fil_gemiddelde_waardes.png
Figuren/Fysisch/Metalen/Boor_totaal_meanvalues.tex
Figuren/Fysisch/Metalen/Boor_totaal_Jaar.png
Figuren/Fysisch/Metalen/Boor_totaal_gemiddelde_waardes.png
Figuren/Fysisch/Metalen/Boor_fil_meanvalues.tex
Figuren/Fysisch/Metalen/Boor_fil_Jaar.png
Figuren/Fysisch/Metalen/Boor_fil_gemiddelde_waardes.png
Figuren/Fysisch/Koolstof_par/Zomer_winter.png
Figuren/Fysisch/Koolstof_par/meanvalues.tex
Figuren/Fysisch/Koolstof_par/Maand.png
Figuren/Fysisch/Koolstof_par/Jaar.png
Figuren/Fysisch/Koolstof_par/gemiddelde_waardes.png
Figuren/Fysisch/Koolstof_opg/Zomer_winter.png
Figuren/Fysisch/Koolstof_opg/meanvalues.tex
Figuren/Fysisch/Koolstof_opg/Maand.png
Figuren/Fysisch/Koolstof_opg/Jaar.png
Figuren/Fysisch/Koolstof_opg/gemiddelde_waardes.png
Figuren/Fysisch/Fosfaat_par/Zomer_winter.png
Figuren/Fysisch/Fosfaat_par/meanvalues.tex
Figuren/Fysisch/Fosfaat_par/Maand.png
Figuren/Fysisch/Fosfaat_par/Jaar.png
Figuren/Fysisch/Fosfaat_par/gemiddelde_waardes.png
Figuren/Fysisch/Fosfaat_fil/Zomer_winter.png
Figuren/Fysisch/Fosfaat_fil/meanvalues.tex
Figuren/Fysisch/Fosfaat_fil/Maand.png
Figuren/Fysisch/Fosfaat_fil/Jaar.png
Figuren/Fysisch/Fosfaat_fil/gemiddelde_waardes.png
Figuren/Fysisch/Feofytine/Zomer_winter.png
Figuren/Fysisch/Feofytine/meanvalues.tex
Figuren/Fysisch/Feofytine/Maand.png
Figuren/Fysisch/Feofytine/Jaar.png
Figuren/Fysisch/Feofytine/gemiddelde_waardes.png
Figuren/Fysisch/Extinctiecoefficient/Zomer_winter.png
Figuren/Fysisch/Extinctiecoefficient/meanvalues.tex
Figuren/Fysisch/Extinctiecoefficient/Maand.png
Figuren/Fysisch/Extinctiecoefficient/Jaar.png
Figuren/Fysisch/Extinctiecoefficient/gemiddelde_waardes.png
Figuren/Fysisch/Doorzicht/Zomer_winter.png
Figuren/Fysisch/Doorzicht/meanvalues.tex
Figuren/Fysisch/Doorzicht/Maand.png
Figuren/Fysisch/Doorzicht/Jaar.png
Figuren/Fysisch/Doorzicht/gemiddelde_waardes.png
Figuren/Fysisch/CNP/P_Zomer_winter.png
Figuren/Fysisch/CNP/P_jaar.png
Figuren/Fysisch/CNP/NP_Zomer_winter.png
Figuren/Fysisch/CNP/NP_jaar.png
Figuren/Fysisch/CNP/N_Zomer_winter.png
Figuren/Fysisch/CNP/N_jaar.png
Figuren/Fysisch/CNP/meanvalues.tex
Figuren/Fysisch/Chlorofyl/Zomer_winter.png
Figuren/Fysisch/Chlorofyl/meanvalues.tex
Figuren/Fysisch/Chlorofyl/Maand.png
Figuren/Fysisch/Chlorofyl/Jaar.png
Figuren/Fysisch/Chlorofyl/gemiddelde_waardes.png
Figuren/Fysisch/Chemisch_zuurstof/meanvalues.tex
Figuren/Fysisch/Chemisch_zuurstof/Maand.png
Figuren/Fysisch/Chemisch_zuurstof/Jaar.png
Figuren/Fysisch/Chemisch_zuurstof/gemiddelde_waardes.png
Figuren/Fysisch/Bodemmeetdichtheidsmatrix_bodem.txt
Figuren/Fysisch/Bodem/bar_zink.png
Figuren/Fysisch/Bodem/bar_tributyltin(kation).png
Figuren/Fysisch/Bodem/bar_SomvanBorneff.png
Figuren/Fysisch/Bodem/bar_SomPCBs.png
Figuren/Fysisch/Bodem/bar_lood.png
Figuren/Fysisch/Bodem/bar_kwik.png
Figuren/Fysisch/Bodem/bar_koper.png
Figuren/Fysisch/Bodem/bar_indeno(1,2,3-c,d)pyreen.png
Figuren/Fysisch/Bodem/bar_fluorantheen.png
Figuren/Fysisch/Bodem/bar_fenanthreen.png
Figuren/Fysisch/Bodem/bar_chryseen.png
Figuren/Fysisch/Bodem/bar_chroom.png
Figuren/Fysisch/Bodem/bar_cadmium.png
Figuren/Fysisch/Bodem/bar_benzo(k)fluorantheen.png
Figuren/Fysisch/Bodem/bar_benzo(g,h,i)peryleen.png
Figuren/Fysisch/Bodem/bar_benzo(a)pyreen.png
Figuren/Fysisch/Bodem/bar_benzo(a)antraceen.png
Figuren/Fysisch/Bodem/bar_arseen.png
Figuren/Fysisch/Bodem/bar_antraceen.png
Figuren/Fysisch/Bodem/bar_2,4,4'-trichloorbifenyl.png
Figuren/Fysisch/Bodem/bar_2,3',4,4',5-pentachloorbifenyl.png
Figuren/Fysisch/Bodem/bar_2,2',5,5'-tetrachloorbifenyl.png
Figuren/Fysisch/Bodem/bar_2,2',4,5,5'-pentachloorbifenyl.png
Figuren/Fysisch/Bodem/bar_2,2',4,4',5,5'-hexachloorbifenyl.png
Figuren/Fysisch/Bodem/bar_2,2',3,4,4',5,5'-heptachloorbifenyl.png
Figuren/Fysisch/Bodem/bar_2,2',3,4,4',5'-hexachloorbifenyl.png
Figuren/Fysisch/Biochemisch_zuurstof/meanvalues.tex
Figuren/Fysisch/Biochemisch_zuurstof/Maand.png
Figuren/Fysisch/Biochemisch_zuurstof/Jaar.png
Figuren/Fysisch/Biochemisch_zuurstof/gemiddelde_waardes.png
Figuren/Fysisch/Ammonium/Zomer_winter.png
Figuren/Fysisch/Ammonium/meanvalues.tex
Figuren/Fysisch/Ammonium/Maand.png
Figuren/Fysisch/Ammonium/Jaar.png
Figuren/Fysisch/Ammonium/gemiddelde_waardes.png
Figuren/Biota/zink_gemiddelde_waardes.png
Figuren/Biota/zink_fix.tex
Figuren/Biota/zink.tex
Figuren/Biota/zink.png
Figuren/Biota/nikkel_gemiddelde_waardes.png
Figuren/Biota/nikkel_fix.tex
Figuren/Biota/nikkel.tex
Figuren/Biota/nikkel.png
Figuren/Biota/Mossel_zink.png
Figuren/Biota/Mossel_PCB_natendroog_fix.tex
Figuren/Biota/Mossel_PCB_natendroog.tex
Figuren/Biota/Mossel_PCB_nat.png
Figuren/Biota/Mossel_PCB_droog.png
Figuren/Biota/Mossel_PBDE_fix.tex
Figuren/Biota/Mossel_PBDE.tex
Figuren/Biota/Mossel_PBDE.png
Figuren/Biota/Mossel_PAK_fix.tex
Figuren/Biota/Mossel_PAK.tex
Figuren/Biota/Mossel_PAK.png
Figuren/Biota/Mossel_organo_fix.tex
Figuren/Biota/Mossel_organo.tex
Figuren/Biota/Mossel_organo.png
Figuren/Biota/Mossel_nikkel.png
Figuren/Biota/mossel_metalen_fix.tex
Figuren/Biota/mossel_metalen.tex
Figuren/Biota/Mossel_lood.png
Figuren/Biota/Mossel_kwik.png
Figuren/Biota/Mossel_koper.png
Figuren/Biota/Mossel_hexachloorbutadieen.png
Figuren/Biota/Mossel_chroom.png
Figuren/Biota/mossel_chloor_fix.tex
Figuren/Biota/Mossel_chloor2.png
Figuren/Biota/Mossel_chloor1.png
Figuren/Biota/mossel_chloor.tex
Figuren/Biota/Mossel_cadmium.png
Figuren/Biota/Mossel_arseen.png
Figuren/Biota/lood_gemiddelde_waardes.png
Figuren/Biota/lood_fix.tex
Figuren/Biota/lood.tex
Figuren/Biota/lood.png
Figuren/Biota/kwik_gemiddelde_waardes.png
Figuren/Biota/kwik_fix.tex
Figuren/Biota/kwik.tex
Figuren/Biota/kwik.png
Figuren/Biota/koper_gemiddelde_waardes.png
Figuren/Biota/koper_fix.tex
Figuren/Biota/koper.tex
Figuren/Biota/koper.png
Figuren/Biota/Hexachloorbutadieen_fix.tex
Figuren/Biota/Hexachloorbutadieen.tex
Figuren/Biota/Hexachloorbutadieen.png
Figuren/Biota/hexachloorbenzeen_fix.tex
Figuren/Biota/hexachloorbenzeen.tex
Figuren/Biota/hexachloorbenzeen.png
Figuren/Biota/chroom_gemiddelde_waardes.png
Figuren/Biota/chroom_fix.tex
Figuren/Biota/chroom.tex
Figuren/Biota/chroom.png
Figuren/Biota/cadmium_gemiddelde_waardes.png
Figuren/Biota/cadmium_fix.tex
Figuren/Biota/cadmium.tex
Figuren/Biota/cadmium.png
Figuren/Biota/Bot_PCB_fix.tex
Figuren/Biota/Bot_PCB.tex
Figuren/Biota/Bot_PCB.png
Figuren/Biota/Bot_PBDE_fix.tex
Figuren/Biota/Bot_PBDE.tex
Figuren/Biota/Bot_PBDE.png
Figuren/Biota/Bot_hexecloor.png
Figuren/Biota/bot_chloor_fix.tex
Figuren/Biota/bot_chloor.tex
Figuren/Biota/arseen_gemiddelde_waardes.png
Figuren/Biota/arseen_fix.tex
Figuren/Biota/arseen.tex
Figuren/Biota/arseen.png
Figuren/Biota/1_bot_metalen_fix.tex
Figuren/Biota/1_bot_metalen.tex
Figuren/Biota/1_Bot_metaal.png
eerstelijnSchelde.Rproj
download/yearly/Data_Hydro_test2020.csv
download/yearly/Data_Hydro_test2019.csv
download/yearly/Data_Hydro_test2018.csv
download/yearly/Data_Hydro_test2017.csv
download/yearly/Data_Hydro_test2016.csv
download/yearly/Data_Hydro_test2015.csv
download/yearly/Data_Hydro_test2014.csv
download/yearly/Data_Hydro_test2013.csv
download/yearly/Data_Hydro_test2012.csv
download/yearly/Data_Hydro_test2011.csv
download/yearly/Data_Hydro_test2010.csv
download/yearly/Data_Hydro_test2009.csv
download/yearly/Data_Hydro_test2008.csv
download/yearly/Data_Hydro_test2007.csv
download/yearly/Data_Hydro_test2006.csv
download/yearly/Data_Hydro_test2005.csv
download/yearly/Data_Hydro_test2004.csv
download/yearly/Data_Hydro_test2003.csv
download/yearly/Data_Hydro_test2002.csv
download/yearly/Data_Hydro_test2001.csv
download/yearly/Data_Hydro_test2000.csv
download/yearly/Data_Hydro_test1999.csv
download/yearly/Data_Hydro_test1998.csv
download/yearly/Data_Hydro_test1997.csv
download/yearly/Data_Hydro_test1996.csv
download/yearly/Data_Hydro_test1995.csv
download/yearly/Data_Hydro_test1994.csv
download/yearly/Data_Hydro_test1993.csv
download/yearly/Data_Hydro_test1992.csv
download/yearly/Data_Hydro_test1991.csv
download/yearly/Data_Hydro_test1990.csv
download/yearly/Data_Hydro_test1989.csv
download/yearly/Data_Hydro_test1988.csv
download/yearly/Data_Hydro_test1987.csv
download/yearly/Data_Hydro_test1986.csv
download/yearly/Data_Hydro_test1985.csv
download/yearly/Data_Hydro_test1984.csv
download/yearly/Data_Hydro_test1983.csv
download/yearly/Data_Hydro_test1982.csv
download/yearly/Data_Hydro_test1981.csv
download/yearly/Data_Hydro_test1980.csv
download/yearly/Data_Hydro_test1979.csv
download/yearly/Data_Hydro_test1978.csv
download/yearly/Data_Hydro_test1977.csv
download/yearly/Data_Hydro_test1976.csv
download/yearly/Data_Hydro_test1975.csv
download/yearly/Data_Hydro_test1974.csv
download/yearly/Data_Hydro_test1973.csv
download/yearly/Data_Hydro_test1972.csv
download/yearly/Data_Hydro_test1971.csv
download/yearly/Data_Hydro_test1970.csv
download/yearly/Data_Hydro_test1969.csv
download/yearly/Data_Hydro_test1968.csv
download/yearly/Data_Hydro_test1967.csv
download/yearly/Data_Hydro_test1966.csv
download/yearly/Data_Hydro_test1965.csv
download/yearly/Data_Hydro_test1964.csv
download/yearly/Data_Hydro_test1963.csv
download/yearly/Data_Hydro_test1962.csv
download/yearly/Data_Hydro_test1961.csv
download/yearly/Data_Hydro_test1960.csv
download/yearly/Data_Hydro_test1959.csv
download/yearly/Data_Hydro_test1958.csv
download/yearly/Data_Hydro_test1957.csv
download/yearly/Data_Hydro_test1956.csv
download/yearly/Data_Hydro_test1955.csv
download/yearly/Data_Hydro_test1954.csv
download/yearly/Data_Hydro_test1953.csv
download/yearly/Data_Hydro_test1952.csv
download/yearly/Data_Hydro_test1951.csv
download/yearly/Data_Hydro_test1950.csv
download/Data_Hydro_test.csv
download/Data_Hydro_1950_2020.csv
download/Data_FysChem_zwevend_test.csv
download/Data_FysChem_opp_test.csv
download/Data_FysChem_biota_test.csv
